@charset 'UTF-8';
@import  "./httpdocs/assets/bootstrap/less/normalize.less";
@import  "./httpdocs/assets/bootstrap/less/utilities.less";

@import  (reference) "./httpdocs/assets/bootstrap/less/bootstrap.less";
@import  "partials/variables.less";

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	font: 20px/28px Helvetica, Helvetica Neue, Arial;
	background-color: black;
}

p{
	font-weight: 100;
}

.container{
	.container();
	width:1030px;
}

aside{
	display: block;
	background-image: url('/images/hdx/important-bg.png');
	background-repeat: no-repeat;
	margin-bottom: 20px;
	height: 112px;
	padding: 33px 20px 0 150px;
	position: relative;

	h2{
		color: @cs-alert-orange;
		font-size: 20px;
		margin: 0px;
		text-transform: uppercase;
	}
	p{
		color: white;
		font-size:18px;
		margin:0px;
	}
}

#the_bg {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 679px;
	background-image: url('/images/hdx/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	//filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hdx/bg.jpg', sizingMethod='scale');
	//-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hdx/bg.jpg', sizingMethod='scale')";

}

.hdx{
	background: url('/images/hdx/hdx-header.jpg') 50% 0 no-repeat;
}

nav{
	background: url('/images/hdx/nav-bg.png');
	border-top: 3px solid @cs-vudu-blue;
	border-bottom: 1px solid @cs-light-grey;
	min-height: 100px;

	img{
		margin:20px 0 0 20px;
	}
}

header{
	display: block;
	min-height: 370px;
	width: 100%;

}

.alert{

}

.step{
	background-color: @cs-mid-grey;
	background-position: bottom right;
	background-repeat: no-repeat;
	border: 4px solid @cs-step-border;
	color: white;
	font-family: "myriad-pro",sans-serif;
	margin: 0 0 15px;
	min-height:445px;
	padding:15px 10px 0 0;
	position: relative;

	.step-header{
		h3{
			background-color: @cs-dark-grey;
			color: white;
			display: inline-block;
			float:left;
			font-family: "myriad-pro",sans-serif;
			font-size: 56px;
			font-weight: 100;
			line-height: 100px;
			margin: 0px;
			padding: 0 30px;
		}

		p{
			margin-left: 250px;
		}
	}

	.note{
		color: @cs-footer-type;
	}

	p.blurb{

	}

	p.arrow{
		color: @cs-footer-type;
		font-size: 18px;
	}

	&.step-1{
		background-image: url('/images/hdx/step-1-bg.jpg');
		p.arrow{
			background: url('/images/hdx/arrow-sm.png') no-repeat 300px 12px;
			margin-left: 35px;
			position: absolute;
			bottom: 70px;
			width: 370px;
			padding-right: 60px;
		}

		p.blurb{
			margin-top: 20px;
		}
	}

	&.step-2{
		background-image: url('/images/hdx/step-2-bg.jpg');
		p.arrow{
			background: url('/images/hdx/arrow-lg.png') no-repeat 160px 12px;
			margin-left: 35px;
			position: absolute;
			bottom: 65px;
			width: 500px;
			padding-right: 60px;

		}
		p.blurb{
			margin-top:7px;
		}
	}

	&.step-3{
		background-image: url('/images/hdx/step-3-bg.jpg');
		p.arrow{
			background: url('/images/hdx/arrow-lg.png') no-repeat 210px 12px;
			margin-left: 35px;
			position: absolute;
			bottom: 65px;
			width: 500px;
			padding-right: 60px;
		}
		p.blurb{
			margin-top: 20px;
		}
	}

}

.btn-lg{

	.btn();
	.btn-lg();

	font-size: 36px;
	line-height: 75px;
	padding:0 25px;
	margin-left: 70px;
	margin-top: 70px;

	-moz-box-shadow:0px 0px 29px 1px rgba(0,0,0,0.75), inset 0px 1px 0px 0px #83a53b;
	-webkit-box-shadow:0px 0px 29px 1px rgba(0,0,0,0.75), inset 0px 1px 0px 0px #83a53b;
	box-shadow:0px 0px 29px 1px rgba(0,0,0,0.75), inset 0px 1px 0px 0px #83a53b;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #91b341), color-stop(1, #5f8407) );
	background:-moz-linear-gradient( center top, #91b341 5%, #5f8407 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#91b341', endColorstr='#5f8407');
	background-color:#91b341;

	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:0;
	border:1px solid #90ce5e;
	color:#ffffff;
	height:75px;
	line-height:75px;
	text-decoration:none;
	text-align:center;
	text-shadow: 1px 2px 2px #608114;

	&:hover {
		border:1px solid #a0bd6e;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5f8407), color-stop(1, #91b341) );
		background:-moz-linear-gradient( center top, #5f8407 5%, #91b341 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f8407', endColorstr='#91b341');
		background-color:#5f8407;
	}

	&:active {
		border:1px solid #a0bd6e;
		position:relative;
		top:1px;
	}
}

footer{
	border-top: 5px solid @cs-vudu-blue;
	background-color: @cs-dark-grey;
	color: @cs-footer-type;
	margin-top:170px;
	position: relative;
	padding:70px 0 50px;
	text-align: center;

	p{
		font: 11px/18px Helvetica, Helvetica Neue, Arial;
		margin-top:90px;
	}
}

.note{
	color: @cs-mid-grey;
}



