@charset 'UTF-8';
//@import  (reference) "./httpdocs/assets/bootstrap/less/bootstrap.less";
@import  "./httpdocs/assets/bootstrap/less/bootstrap.less";
@import  "partials/variables.less";
@import  "partials/elements.less";


/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0!important;;
    outline : 0!important;;
}
 textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus {
    outline:0px !important;
    -webkit-appearance:none!important;;
        }



html,
button,
input,
select,
textarea {
    color: #222;
}

body, html{
	width:100%;
	margin:0;
	padding:0;
	overflow-x:hidden;
}

body {
	font: 12px/18px "Avenir",sans-serif;
	background-color: black;
	background-image: url('/images/signup/13-10609_VUDU-Signup-LP_0402MB.jpg');
	background-position: 50% 0;
	background-repeat: no-repeat;
}

h1{
	.avenir-black;
}

h2{
	font-size: 24px;
}

h2, h3, h4, h5{
	.avenir;
	font-weight: 700;
}

p{
	font-weight: 100;
}

a{
	text-decoration: underline;
	color: @cs-link;
}

.font-light{
	font-weight: 100;
}

.font-med{
	font-weight: 300;
}

.font-heavy{
	font-weight: 700;
}

.bs-hidden{
	display:none;
}

.page-nav{
	position: fixed;
	padding:30px;
	background-color:white;
	color: black;
	top:0;
	left: 0;
}


/* ------------------------------------
Mixins
---------------------------------------*/

/* ------------------------------------
Rows
---------------------------------------*/

aside.quicklinks{
	display: block;
	width: 100%;
	margin-top:20px;

	h3{

		background-image: url('/images/signup/why.png');
		background-position: 0% 50%;
		background-repeat: no-repeat;
		display: inline-block;
		height:34px;
		margin: 0px;
		text-indent: -9999px;
		width:330px;
	}

	.shading{
		border-top:3px solid @cs-vudu-blue;
		background-color:  rgba(0, 0, 0, 0.5);
	}

	ul{
		padding:0;
		margin: 0;
		li{
			border-top: 1px solid @cs-light-grey;
			list-style-type: none;
			padding:0px;


			&:first-child{
				border: 0;
			}
		}

		a{
			background-image: url('/images/signup/icons-mob.png');
			background-repeat: no-repeat;
			color: white;
			display:block;
			font-size:13px;
			font-weight: 400;
			line-height: 42px;
			margin: 15px 0;
			text-decoration: none;
			text-indent: 75px;

			span{
				//display: none;
			}

			.fa{
				color: @cs-vudu-blue;
				display: inline;
				padding-left: 8px;
				-webkit-transition:color 0.3s ease-in;

			}

			&:hover{

				.fa{
					color: @cs-alert-orange;
				}
			}
		}

		.icon-watch{
			background-position: 10px 0px;
			&:hover{
			background-position: 10px -128px;

			}
		}
		.icon-releases{
			background-position: 10px -42px;

			&:hover{
			background-position: 10px -170px;

			}
		}
		.icon-experience{
			background-position: 10px -84px;

			&:hover{
			background-position: 10px -212px;

			}
		}

	}
}

header[role="banner"]{
	padding-top:30px;
	font-size:13px;
	line-height:21px;
	img{
		margin-top: 15px;
	}
}

nav[role="main"]{
	background-color: black;
	background-color:  rgba(0, 0, 0, 0.7);
	color: #bbbec0;
	font-size:12px;
	line-height:40px;
	padding: 15px;
	.myriad;
	width:100%;
	-webkit-transition:top 0.5s ease-in;
	position:fixed;
	z-index:10000;

	.btn{
		margin-left: 20px;
	}

	p{
		margin:0px;
	}

	img{
		width: 90px;
	}

	.pipe{
		padding:0 10px;
	}
}


/* ------------------------------------
Sections
---------------------------------------*/

section{
	color: white;
}

.bg-cover{
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 50%;
	-ms-behavior: url("/css/backgroundsize.htc");
}

.lt-ie9  .img-responsive {
  	width: auto; /* for ie 8 */
}

.img-responsive{
	margin:0 auto;
	//width:100%;
}

body{
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 0%;
	background-image: url('/images/signup/bg-intro-mob.jpg');
	-ms-behavior: url("/css/backgroundsize.htc");
}

#intro{
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 0%;
	background-image: url('/images/signup/bg-intro-mob.jpg');
	-ms-behavior: url("/css/backgroundsize.htc");
}

#signup{
	background-size: cover;
	background-attachment: fixed;
	background-image: url('/images/signup/panel-signup-mob.jpg');
	-ms-behavior: url("/css/backgroundsize.htc");
	min-height: 720px;
	//padding-top: 45px;
}

.img-panel{
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 0%;
	//background-image: url('/images/signup/bg-watch-3.jpg');
}

.copy-panel{
	background-color: @cs-dark-grey;
	background-color:#0b0c0e;
	background-image: url('/images/signup/copy-bg.jpg');
	color: white;
	min-height:300px;
	padding:10px 0;

	.container{
		display: block;
		height: 100%;
		margin: 0 auto;
		overflow: hidden;
	}
}

.box{
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: middle;
	padding-top: 20px 0;
	table-layout: fixed;
}

.box-inner{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}


.poster-header{
	height: 250px;
	background-position: 50% 100%;
	background-repeat: repeat-x;
	background-image: url('/images/signup/signup-posters.png');
}
/* ------------------------------------
Slabtext
---------------------------------------*/

.slabtexted .slabtext
        {
        display:-moz-inline-box;
        display:inline-block;
        white-space:nowrap;
        }
.slabtextinactive .slabtext
        {
        display:inline;
        white-space:normal;
        font-size:1em !important;
        letter-spacing:inherit !important;
        word-spacing:inherit !important;
        *letter-spacing:0 !important;
        *word-spacing:0 !important;
        }
.slabtextdone .slabtext
        {
        display:block;
        line-height:0.8;
        }


/* ------------------------------------
Buttons
---------------------------------------*/
.btn-info{
	.avenir-black;
	.btn();
	background-color:#8ab920;

	.rounded(3px);
	text-indent:0;
	border: 0;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	text-shadow: 1px 2px 2px #608114;
	text-transform: uppercase;

	&:hover {
		border: 0;
		color: white;
		background-color:#a0d626;
	}

	&:active {
		border:1px solid #a0bd6e;
		position:relative;
		top:1px;
	}
}

.btn-lg{
	.btn-lg();
	.rounded(10px);
	font-size: 36px;
	//line-height: 80px;
	padding:0 25px;
	height:75px;
	//line-height:75px;
	line-height: 2.2;
}

/* ------------------------------------
Layout
---------------------------------------*/
.next{
	display: block;
	height: 50px;
	margin:-25px auto 0;
	width:50px;
}

#intro .section-copy{
	display: inline;
	font-size: 17px;
	line-height: 26px;
}

.intro-img{
	padding: 30px 0 40px;
}

.intro-copy{

	margin-top:40px;

	h1{
		//font-size:120px;
		font-weight: 900;
		//line-height: 55px;
		margin:0 0 15px;
		padding: 0;
		text-align: center;
		text-transform: uppercase;
	}

	.btn{
		margin-top: 50px;
	}
}

.terms{
	font-size: 15px;
	margin-top: 30px;
	text-align: center;
	color: white;
}

.footer-copy{

	padding-top: 60px;

	.font-med{
		display: block;
		margin-bottom: 15px;
		margin-left:4px;
	}

	h2{
		margin-bottom: 25px;
	}

	h5.slabtextdone .slabtext {
		line-height: 1.3;
	}

	.btn{
		margin-top: 25px;
	}
}



.icon-section-releases{
	background-repeat: no-repeat;
	background-image: url('/images/signup/icon-releases-mob.png');
	padding-left: 80px;
}
.icon-section-experience{
	background-repeat: no-repeat;
	background-image: url('/images/signup/icon-experience-mob.png');
	padding-left: 80px;
}
.icon-section-watch{
	background-repeat: no-repeat;
	background-image: url('/images/signup/icon-watch-mob.png');
	padding-left: 80px;
}


.watch-copy{
	font-size:80%;
	width:80%
}


/* ------------------------------------
Carousel
---------------------------------------*/

/* ------------------------------------
Media Queries
---------------------------------------*/


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	body{
		background-image: url('/images/signup/bg-intro.jpg');
		-ms-behavior: url("/css/backgroundsize.htc");
		font: 16px/23px "Avenir",sans-serif;
	}

	h2{
		font-size: 32px;
	}

	.intro-copy{
		margin-top:0px;
	}

	.intro-img{
		padding: 0;
	}

	aside.quicklinks{
		display: block;
		width: 100%;
		ul{
			li{
				border: 0;
				border-left: 1px solid @cs-light-grey;
				margin :15px 0;

				&:first-child{
					border: 0;
				}
			}

			a{
				span{
					display: none;
				}
			}
		}
	}

	#signup{
		background-image: url('/images/signup/panel-signup.jpg');
		padding: 170px 0 100px;
	}

	.watch-copy{
		font-size:80%;
		width:70%
	}
	.hidden-inline{
		display:inline !important;
	}


	#intro{
		overflow: hidden;
		padding-top:85px;
	}

	.copy-panel{
		padding:20px 0;
	}

	.box{
		padding-top: 30px 0;
		table-layout: fixed;
	}

	.footer-copy{
		h2{
			margin-bottom: 50px;
		}

		h5.slabtextdone .slabtext {
			line-height: 1.3;
		}

		.btn{
			margin-top: 50px;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

	nav[role="main"]{
		position:fixed;
	}

	body{
		font: 20px/25px "Avenir",sans-serif;
	}

	h2{
		font-size: 50px;
	}

	aside.quicklinks{
		ul{
			a{
				background-image: url('/images/signup/icons.png');
				background-repeat: no-repeat;
				color: white;
				display:block;
				font-size:14px;
				font-weight: 400;
				line-height: 64px;
				margin: 15px 0;
				text-decoration: none;
				text-indent: 100px;

				span{
					display: none;
				}
			}
			.icon-watch{
				background-position: 20px 0px;
				&:hover{
				background-position: 20px -192px;

				}
			}
			.icon-releases{
				background-position: 20px -64px;

				&:hover{
				background-position: 20px -256px;

				}
			}
			.icon-experience{
				background-position: 20px -128px;

				&:hover{
				background-position: 20px -320px;

				}
			}
		}


	}

	.watch-copy{
		font-size:70%;
		width:66%;
	}

	.icon-copy{
		padding: 25px 0;
	}

	.icon-section-releases{
		background-repeat: no-repeat;
		background-image: url('/images/signup/icon-releases.png');
		padding-left: 170px;
	}
	.icon-section-experience{
		background-repeat: no-repeat;
		background-image: url('/images/signup/icon-experience.png');
		padding-left: 170px;
	}
	.icon-section-watch{
		background-repeat: no-repeat;
		background-image: url('/images/signup/icon-watch.png');
		padding-left: 170px;
	}

	.copy-panel{
		padding:50px 0;
	}

	.box{
		padding-top: 45px 0;
		table-layout: fixed;
	}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	aside.quicklinks{
		ul{
			a{
				span{
					display: inline;
				}
			}


		}
	}
 }
//We occasionally expand on these media queries to include a max-width to limit CSS to a narrower set of devices.

@media (max-width: @screen-xs-max) {

}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

 }
