
.main-container {
	margin-top:53px;
}

#outer-wrapper {
	width:100%;
	max-width:1000px;
	margin:0 auto;
	background:url("../../images/bl_bg.png");
}

.wrapper {
	width:80%;
	max-width:850px;
	margin:0 auto;
}

.header-container img {
	float:left;
}

#the_images img {
	float:left;
	margin-bottom:15px;
	max-height:none;
}

.minis, #lil, #big {
	width:100%;
	margin-left:0;
}

.footer-container {
	clear:left;
	color:#676767;
}

#btm_row {
	text-align:center;
}

#top_row, #btm_row {
	width:100%;
	overflow:hidden;
}

#main_text, #main_text img {
	width:100%;
}

#main_text img {
	max-width:523px;
}

#main_text p {
	margin-top: 14px;
	line-height: 20px;
	margin-left: 5px;
}

#the_images {
	margin-top: 67px;
}

.footer-container span {
	margin-top: 8px;
	display: block;
	font-size: 13px;
	color:#676767;
}

.footer-container a {
	color:#676767;
}

#the_bg {
	position:absolute;
	top:50px;
	z-index:-1;
	width:100%;
	height:716px;
	background-image:url('../../images/bg.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg.jpg', sizingMethod='scale')";
	
}

#roku, #samsung, #steals {
	display:none;
}
@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
	
	#top_row {
		margin-bottom:15px;
	}
	
	#the_images img {
		margin-bottom:0;
		max-height:180px;
	}
	
	
	#lil {
		width:37.35%;
	}
	
	#big {
		width:61%;
		margin-left:1%;
	}
	
	.minis {
		width:24%;
		margin-left:1.3%;
	}

	a:first-child .minis, #top_row a:first-child img {
		margin-left:0;
	}
	
	#main_text {
		width:72%;
		margin:0 auto;
	}

	#main_text img {
		width:100%;
	}
}
@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}
