@cs-vudu-blue: #00a1d8;
@cs-light-grey: #505050;
@cs-mid-grey: #373b3d;
@cs-dark-grey: #252829;
@cs-step-border: #4a4f51;
@cs-footer-type: #7b7f82;
@cs-alert-orange: #ff8f00;
@cs-link: #61a3a9;

@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir/avenir-35.eot?#iefix");
  src: url("/fonts/avenir/avenir-35.eot?#iefix") format("eot"), url("/fonts/avenir/avenir-35.woff") format("woff"), url("/fonts/avenir/avenir-35.ttf") format("truetype"), url("/fonts/avenir/avenir-35.svg#Avenir-35") format("svg");
  font-weight: 200; }

@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir/avenir-35-oblique.eot?#iefix");
  src: url("/fonts/avenir/avenir-35-oblique.eot?#iefix") format("eot"), url("/fonts/avenir/avenir-35-oblique.woff") format("woff"), url("/fonts/avenir/avenir-35-oblique.ttf") format("truetype"), url("/fonts/avenir/avenir-35-oblique.svg#avenir-35-oblique") format("svg");
  font-style: italic;
  font-weight: 200; }

@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir/avenir-45.eot?#iefix");
  src: url("/fonts/avenir/avenir-45.eot?#iefix") format("eot"), url("/fonts/avenir/avenir-45.woff") format("woff"), url("/fonts/avenir/avenir-45.ttf") format("truetype"), url("/fonts/avenir/avenir-45.svg#avenir-45") format("svg");
  font-weight: 400; }

@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir/avenir-65.eot?#iefix");
  src: url("/fonts/avenir/avenir-65.eot?#iefix") format("eot"), url("/fonts/avenir/avenir-65.woff") format("woff"), url("/fonts/avenir/avenir-65.ttf") format("truetype"), url("/fonts/avenir/avenir-65.svg#avenir-65") format("svg");
  font-weight: 500; }

@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir/avenir-85.eot?#iefix");
  src: url("/fonts/avenir/avenir-85.eot?#iefix") format("eot"), url("/fonts/avenir/avenir-85.woff") format("woff"), url("/fonts/avenir/avenir-85.ttf") format("truetype"), url("/fonts/avenir/avenir-85.svg#avenir-85") format("svg");
  font-weight: 700; }

  @font-face {
  font-family: "Avenir Black";
  src: url("/fonts/avenir/avenir-95.eot?#iefix");
  src: url("/fonts/avenir/avenir-95.eot?#iefix") format("eot"), url("/fonts/avenir/avenir-95.woff") format("woff"), url("/fonts/avenir/avenir-95.ttf") format("truetype"), url("/fonts/avenir/avenir-95.svg#avenir-95") format("svg");
  font-weight: 900; }

.avenir{
	font-family: 'Avenir', sans-serif;
}

.avenir-black{
	font-family: 'Avenir Black', sans-serif;
}

.myriad{
	font-family: "myriad-pro",sans-serif;
}

